@model TodoViewModel;

@{
    ViewData["Title"] = ViewBag.Title;
}

    <h1>@ViewData["Title"]</h1>

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Item</td>
                <td>Due</td>
            </tr>
        </thead>
    </table>
</div>
